<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Záródolgozat</mat-card-title>
            <mat-card-subtitle>Készítette: Nagyházi János Szabolcs</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <hr>
            <br>
            <strong>Feladat:</strong>
            <p>Egy alkalmazás, amely Covid megbetegedési és/vagy oltási adatokat tud megjeleníteni tetszőleges, értelmezhető formátumban, ország szerinti szűréssel. <br> Három adatlekérés után az adatok megtekintéséhez regisztráció szükséges!</p>
            <strong>Technológia:</strong>
            <p>Keretrendszer: Angular + Typescript <br> UI: Angulat Material</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <mat-card-subtitle> 2023.06.06.</mat-card-subtitle>
        </mat-card-actions>
    </mat-card>
</div>