<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" routerLink="/">
        <mat-icon >menu</mat-icon>
      </button>
        <span>{{ title }}</span>
        <span class="example-spacer"></span>
        <button mat-button routerLink="/data/table">Megbetegedési/oltási adatok</button>
        <button mat-button routerLink="/data/chart">Grafikonok</button>
        <span class="example-spacer"></span>

        <button mat-button routerLink="/reg">Regisztráció</button>
        <button mat-icon-button class="example-icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
</p>