.container {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border: 1px solid silver;
    border-collapse: collapse;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

thead th {
    background-color: silver;
}

td,
th {
    text-align: left;
    width: 25%;
    padding: 10px;
    border-bottom: 1px solid silver;
}

tbody tr:hover {
    background-color: #3f51b5;
    cursor: pointer;
    color: white !important;
}