<div class="container">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Megbetegedési/Oltási adatok</mat-card-title>
            <mat-card-subtitle>Táblázatos formátum</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h4>Válassz ki egy országot:</h4>
            <mat-form-field appearance="outline">
                <mat-label>Ország</mat-label>
                <mat-select (selectionChange)="getDatas($event.value)">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{ country }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <table *ngIf="dataSource">
                <thead>
                    <tr>
                        <th>Megnevezés</th>
                        <th>Érték</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Rövidítés:</th>
                        <td>{{ dataSource.abbreviation }}</td>
                    </tr>
                    <tr>
                        <th>Ország:</th>
                        <td>{{ dataSource.country }}</td>
                    </tr>
                    <tr>
                        <th>Kontinens:</th>
                        <td>{{ dataSource.continent }}</td>
                    </tr>
                    <tr>
                        <th>Főváros:</th>
                        <td>{{ dataSource.capital_city }}</td>
                    </tr>
                    <tr>
                        <th>Terület:</th>
                        <td>{{ dataSource.sq_km_area }} km<sup>2</sup></td>
                    </tr>
                    <tr>
                        <th>Tengerszint feletti magasság:</th>
                        <td>{{ dataSource.elevation_in_meters }} m</td>
                    </tr>

                    <tr>
                        <th>Szélességi fok:</th>
                        <td>{{ dataSource.lat }}</td>
                    </tr>
                    <tr>
                        <th>Hosszúsági fok:</th>
                        <td>{{ dataSource.long }}</td>
                    </tr>
                    <tr>
                        <th>Elhelyezkedés:</th>
                        <td>{{ dataSource.location }}</td>
                    </tr>
                    <tr>
                        <th>Iso:</th>
                        <td>{{ dataSource.iso }}</td>
                    </tr>
                    <tr>
                        <th>Népesség:</th>
                        <td>{{ dataSource.population }} fő</td>
                    </tr>
                    <tr>
                        <th>Igazolt fertőzések száma:</th>
                        <td>{{ dataSource.confirmed }}</td>
                    </tr>
                    <tr>
                        <th>Elhalálozások száma:</th>
                        <td>{{ dataSource.deaths }}</td>
                    </tr>
                    <tr>
                        <th>Gyógyult esetek száma:</th>
                        <td>{{ dataSource.recovered }}</td>
                    </tr>

                    <tr>
                        <th>Regisztrált oltások száma:</th>
                        <td>{{ dataSource2?.administered }} fő</td>
                    </tr>
                    <tr>
                        <th>Oltottak száma:</th>
                        <td>{{ dataSource2?.people_vaccinated }} fő</td>
                    </tr>
                    <tr>
                        <th>Várható élettartam:</th>
                        <td>{{ dataSource2?.life_expectancy }} év</td>
                    </tr>

                    <tr>
                        <th>Adatok utolsó frissítése:</th>
                        <td>{{ dataSource.updated }}</td>
                    </tr>
                </tbody>
            </table>

        </mat-card-content>
    </mat-card>
</div>