<div class="container">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Megbetegedési/Oltási adatok</mat-card-title>
            <mat-card-subtitle>Táblázatos formátum</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h4>Válassz ki egy országot:</h4>
            <mat-form-field appearance="outline">
                <mat-label>Ország</mat-label>
                <mat-select (selectionChange)="getDatas($event.value)">
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{ country }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <table *ngIf="dataSource">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>abbreviation</td>
                        <td>{{ dataSource.abbreviation }}</td>
                    </tr>
                    <tr>
                        <td>country</td>
                        <td>{{ dataSource.country }}</td>
                    </tr>
                    <tr>
                        <td>continent</td>
                        <td>{{ dataSource.continent }}</td>
                    </tr>
                    <tr>
                        <td>capital_city</td>
                        <td>{{ dataSource.capital_city }}</td>
                    </tr>
                    <tr>
                        <td>sq_km_area</td>
                        <td>{{ dataSource.sq_km_area }}</td>
                    </tr>
                    <tr>
                        <td>elevation_in_meters</td>
                        <td>{{ dataSource.elevation_in_meters }}</td>
                    </tr>

                    <tr>
                        <td>lat</td>
                        <td>{{ dataSource.lat }}</td>
                    </tr>
                    <tr>
                        <td>long</td>
                        <td>{{ dataSource.long }}</td>
                    </tr>
                    <tr>
                        <td>location</td>
                        <td>{{ dataSource.location }}</td>
                    </tr>
                    <tr>
                        <td>iso</td>
                        <td>{{ dataSource.iso }}</td>
                    </tr>
                    <tr>
                        <td>population</td>
                        <td>{{ dataSource.population }}</td>
                    </tr>
                    <tr>
                        <td>confirmed</td>
                        <td>{{ dataSource.confirmed }}</td>
                    </tr>
                    <tr>
                        <td>deaths</td>
                        <td>{{ dataSource.deaths }}</td>
                    </tr>
                    <tr>
                        <td>recovered</td>
                        <td>{{ dataSource.recovered }}</td>
                    </tr>

                    <tr>
                        <td>administered</td>
                        <td>{{ dataSource2?.administered }}</td>
                    </tr>
                    <tr>
                        <td>people_vaccinated</td>
                        <td>{{ dataSource2?.people_vaccinated }}</td>
                    </tr>
                    <tr>
                        <td>life_expectancy</td>
                        <td>{{ dataSource2?.life_expectancy }}</td>
                    </tr>

                    <tr>
                        <td>updated</td>
                        <td>{{ dataSource.updated }}</td>
                    </tr>
                </tbody>
            </table>

        </mat-card-content>
    </mat-card>
</div>